<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
     <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
</head>
<body>
       @*@Html.Partial("_LoginPartial")*@
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
           <a class="brand" href="@Url.Action("Index", "Home")">Programmeerwedstrijd</a>
          
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Opdrachten", "Index", "Editor")</li>
                        <li>@Html.ActionLink("Leaderboard", "Index", "Scores")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                         @if (User.IsInRole("Administrator"))
                         {
                             <li>@Html.ActionLink("Admin", "Index", "Assignment")</li>
                         }
                    </ul>
                </div>
                <!--/.nav-collapse -->    
                  @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    
    @if (IsSectionDefined("editor-row"))
    {
        <div class="container-fluid">
            @RenderBody()
        </div>
    }
    else
    {
        <div class="container">
        @RenderBody()
    </div>
    }
       
    
    @Scripts.Render("~/Script/Bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
