@model JavaProgrammingContest.Domain.Entities.Assignment
@Html.Partial("../Assignment/_menuBalk") 


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

   <fieldset>
        <legend>Assignment</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Title, new { style = "width: 500px;" })
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description, new { style = "width: 500px;" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CodeGiven)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.CodeGiven, new { style = "width: 500px; height: 130px;" })
            @Html.ValidationMessageFor(model => model.CodeGiven)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MaxSolveTime)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.MaxSolveTime, new { style = "width: 500px;" })
            @Html.ValidationMessageFor(model => model.MaxSolveTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RunCodeInput)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.RunCodeInput, new { style = "width: 500px;" })
            @Html.ValidationMessageFor(model => model.RunCodeInput)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RunCodeOuput)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.RunCodeOuput, new { style = "width: 500px;" })
            @Html.ValidationMessageFor(model => model.RunCodeOuput)
        </div>

        <p>
            <input type="submit" value="Toevoegen" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Terug naar lijst", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
