@model JavaProgrammingContest.Domain.Entities.Assignment
@Html.Partial("../Assignment/_menuBalk") 

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Assignment</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CodeGiven)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CodeGiven)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaxSolveTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaxSolveTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RunCodeInput)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RunCodeInput)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RunCodeOuput)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RunCodeOuput)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
