@model IEnumerable<JavaProgrammingContest.Domain.Entities.Assignment>
@Html.Partial("_menuBalk")
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.MaxSolveTime)
        </th> 
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           <a href="@Url.Action("Details", new { id=item.Id })">   @Html.DisplayFor(modelItem => item.Title)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.MaxSolveTime)
        </td> 
        <td>
            
            
             <a href="@Url.Action("Edit", new { id=item.Id })"> <i class="icon-wrench"></i> </a>
      
         <a href="@Url.Action("Delete", new { id=item.Id })"> <i class="icon-remove"></i></a>
       
        </td>
    </tr>
}

</table>
