@model JavaProgrammingContest.Domain.Entities.Contest
@Html.Partial("../Assignment/_menuBalk") 
<h3>Weet u zeker dat u dit wilt verwijderen?</h3>
<fieldset>
    <legend>Contest</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsActive)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActive)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Verwijderen" /> |
        @Html.ActionLink("Terug naar lijst", "Index")
    </p>
}
