@model JavaProgrammingContest.Domain.Entities.Contest
@Html.Partial("../Assignment/_menuBalk") 
<fieldset>
    <legend>Contest</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsActive)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActive)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Wijzigen", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Terug naar lijst", "Index")
</p>
