@using System.Collections
@using JavaProgrammingContest.Web.Controllers
@model JavaProgrammingContest.Web.Controllers.Leaderboard

@{
    ViewBag.Title = "Index";

}

@foreach (var contest in Model.Contest)
{
    <h2>@contest.ContestName</h2>
    
        <table class="table table-bordered table-bordered">
            <thead>
                <tr>
                    <th>Deelnemer</th>
                    <th>Correcte opdrachten</th>
                    <th>Gemiddelde tijd</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in contest.Participants.OrderByDescending(p => p.CompletePercentage).ThenBy(a => a.AverageTime))
                {
                    <tr>
                        <td><a href="http://www.linkedin.com/search/fpsearch?type=people&keywords=@p.Name" title="@p.Functie">@p.Name</a> <a href="mailto:@p.Email"><i class="icon-envelope"></i></a></td>
                        <td>@p.AssignmentsCompleted / @p.AssignmentsMade</td>
                        <td>@Math.Round((Decimal)(p.AverageTime), 2) sec</td>
                    </tr>
                }
            </tbody>
        </table>
}