@model JavaProgrammingContest.Web.Models.LocalPasswordModel

<p>
 Je hebt nog geen lokaal wachtwoord, stel deze in om geen gebruik meer te hoeven maken van LinkedIn.
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Kies wachtwoord</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Zet wachtwoord" />
    </fieldset>
}
