@model JavaProgrammingContest.Web.Models.LogonModel

@{
    ViewBag.Title = "Authenticatie";
}
 
<section class="social" id="socialLoginForm">
    <h3>Gebruik linkedin</h3>
    @Html.Action("ExternalLogonsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>
<section id="loginForm">
<h3>Gebruik een lokaal account</h3>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
        <input type="submit" value="Log in" />
    </fieldset> 
}
</section>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
