@model JavaProgrammingContest.Web.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <div class="control-group">
            @Html.LabelFor(m => m.UserName)
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-envelope"></i></span>
                    @Html.TextBoxFor(m => m.UserName)

                </div>
            </div>

            @Html.LabelFor(m => m.Password)
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-check"></i></span>
                    @Html.PasswordFor(m => m.Password)

                </div>
            </div>


            @Html.LabelFor(m => m.ConfirmPassword)
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-check"></i></span>

                    @Html.PasswordFor(m => m.ConfirmPassword)

                </div>
            </div>
             <div class="control-group">
            @Html.LabelFor(m => m.CanContact)
            <div class="controls">
                @Html.EditorFor(m => m.CanContact)
                @Html.ValidationMessageFor(m => m.CanContact)
            </div>        
        </div>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
