@{
    ViewBag.Title = "Index";
}

@Scripts.Render("~/Script/Backbone")
@Styles.Render("~/Content/CodeMirror")
@Scripts.Render("~/Script/CodeMirror")
@Scripts.Render("~/Script/Noty")
@Scripts.Render("~/Script/Application")

<script type="text/template" id="assignment-template">
    <li class="{Class}" data-assignment="{dataKey}">
        <h3>Assignment {Id}</h3>
    </li>
</script>

<div id="loadingModal" class="modal hide">
    <div class="modal-body">
        <table style="width: 100%; text-align: center;">
            <tr><td><i class="icon-list"></i></td> <td><i class="icon-fire"></i></td> <td><i class="icon-pencil"></i></td></tr>
        </table>
        <div class="progress" style="margin: 0;">
            <div class="bar bar-danger" style="width: 33.33%;"><i class="iconlist"></i></div>
            <div class="bar bar-warning" style="width: 33.33%;"></div>
            <div class="bar bar-success" style="width: 33.33%;"></div>
        </div>
        <table style="width: 100%; text-align: center;">
            <tr><th style="width: 33.33%;">Assignments</th> <th style="width: 33.33%">Build Engine</th> <th>Editor</th></tr>
        </table>
    </div>
</div>

<div id="noAssignmentsModal" class="modal hide fade">
    <div class="modal-header">
        <h3>No Assignments Found</h3>
    </div>
    <div class="modal-body">
        <p>I could not find any</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn">Close</a>
        <a href="#" class="btn btn-primary">Save changes</a>
    </div>
</div>

<div id="assignmentInProgressModal" class="modal hide fade">
    <div class="modal-header">
        <h3>Assignment already in Progress</h3>
    </div>
    <div class="modal-body">
        <p>You didn't finished the last assignment. You started this assignment <span class="moment"></span>. The assignment will stop and you can start with the next assignment.</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-warning" id="stopProgress">Stop</a>
        <!--a href="#" class="btn btn-primary disabled" id="continueProgress" data-dismiss="modal">Continue</a-->
    </div>
</div>

<div id="assignmentSubmitModal" class="modal hide fade">
    <div class="modal-header">
        <h3>Confirm the Submit</h3>
    </div>
    <div class="modal-body">
        <p>Do you really want to submit this assignment? You will not be ale to retry!</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-success" data-dismiss="modal">Submit</a>
    </div>
</div>

<div class="modal hide fade" id="settings-dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Editor Settings</h3>
    </div>
    <div class="modal-body">
        <form onsubmit="return false;">
            <fieldset>
                <div class="row-fluid">
                    <div class="pull-left span7">
                        <div class="input-prepend">
                            <span class="add-on">Theme</span>
                            <select name="Theme" data-original="">
                                <option value="eclipse">Eclipse (Default)</option>
                                <option value="lesser-dark">Lesser Dark</option>
                                <option value="monokai">Monokai</option>
                            </select>
                        </div>
                        
                        <div class="input-prepend">
                            <span class="add-on">Tabsize</span>
                            <input name="TabSize" type="number" style="width: 35px" min="2" max="6" data-original="" value="" />
                        </div>
                    </div>
                <div class="pull-right span5">
                    <label class="checkbox"><input name="IntelliSense" type="checkbox" data-original="" value="" /> IntelliSense</label>
                    <label class="checkbox"><input name="MatchBrackets" type="checkbox" data-original="" value=""/> Match Brackets</label>
                    <label class="checkbox"><input name="LineWrapping" type="checkbox" data-original="" value=""/> Line-Wrapping</label>
                    <label class="checkbox"><input name="AutoIndent" type="checkbox" data-original="" value=""/> Automatic Indention</label>
                </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary" id="settings-save">Apply</a>
    </div>
</div>

<div class="editor-row">
    <div class="pane assignments" id="AssignmentList">
        <h2>Assignments</h2>
        <ul>
            <!--li data-assignmentid="0">
                <h3>Assignmenttitle1</h3>
                <img src="~/Content/images/glyphicons-halflings.png" alt="Opdracht."/>
            </li-->
        </ul>
    </div>
    <div class="pane timer" id="TimerPane">
        <h2><span class="hours">00</span>:<span class="minutes">00</span>:<span class="seconds">00</span></h2>
    </div>
    <div class="pane editor">
        <div class="btn-toolbar">
            <div class="btn-group">
                <a class="btn btn-small btn-success" href="#submit"><i class="icon-hdd icon-white"></i> <u>S</u>ubmit</a>
                <a class="btn btn-small btn-danger" href="#cancel"><i class="icon-remove icon-white"></i> Resign</a>
            </div>
            <div class="btn-group">
                <a class="btn btn-small" href="#build"><i class="icon-fire"></i> <u>B</u>uild</a>
                <a class="btn btn-small btn-warning" href="#run"><i class="icon-fire"></i> <u>R</u>un</a>
            </div>
            <div class="btn-group">
                <a class="btn btn-small" href="#settings-dialog" data-toggle="modal"><i class="icon-cog"></i> Sett<u>i</u>ngs</a>
                <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-tint"></i> Theme <span class="caret"></span></a>
                <ul class="dropdown-menu pull-right">
                    <li><a href="#" data-theme="eclipse">Eclipse (Default)</a></li>
                    <li><a href="#" data-theme="monokai">Monokai</a></li>
                    <li><a href="#" data-theme="lesser-dark">Lesser Dark</a></li>
                </ul>
                
            </div>
            <!---
            <div class="btn-group">
                <div class="btn btn-small"><div id="TimerPane"><i class="icon-time"></i>
                                               <span class="hours">00</span>:<span class="minutes">00</span>:<span class="seconds">00</span></div>
                </div>
            </div>
            --->
        </div>
        <div id="EditorViewport">
            <div id="StartPane" class="activePane">
                <h1>#TITLE</h1>
                <div class="properties">
                    <a class="btn btn-large btn-block btn-success">Start the Time!</a>
                </div>
                <div class="description">#DESCRIPTION</div>
                Target solve time: <span class="time"></span>
            </div>
            <div id="AssignmentPane">
                <h1>#TITLE</h1>
                <div class="properties">
                    <a class="btn btn-large btn-block btn-success">Start the Time!</a>
                </div>
                <div class="description">#DESCRIPTION</div>
            </div>
            <div id="SplitscreenPane"></div>
            <div id="EditorPane"></div>
            <div id="ConsolePane">
                <div class="tabbable tabs-right">
                    <ul class="nav nav-tabs">
                        <li><a href="#buildStream" data-toggle="tab">Build</a></li>
                        <li class="active"><a href="#outputStream" data-toggle="tab">Output</a></li>
                        <li><a href="#errorStream" data-toggle="tab">Error</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" id="buildStream"></div>
                        <div class="tab-pane active" id="outputStream"></div>
                        <div class="tab-pane" id="errorStream"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabbable tabs-below">
            <ul class="nav nav-tabs">
                <li id="startTab" class="active"><a href="#start">Start</a></li>
                <li class="disabled"><a href="#assignment">Assignment</a></li>
                <li class="disabled"><a href="#splitscreen">Splitscreen</a></li>
                <li class="disabled"><a href="#editor">Editor</a></li>
                <li class="disabled"><a href="#console">Console</a></li>
            </ul>
        </div>
    </div>
</div>